.restaurantcard-masonry {
  background: transparent;
}

.restaurantcard {
  background: var(--color-surface);
  color: var(--color-text);
  padding: var(--padding-sm);
  border-radius: var(--border-radius-large);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  width: 360px;
}

.info {
  padding: 0 var(--padding-m);
}

.title {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  padding: var(--padding-s) 0;
  display: flex;
  justify-content: center;
}

.selection {
  padding-bottom: var(--padding-sm);
}

.label {
  font-size: var(--font-size-m);
}

.address,
.cuisine,
.dietaryoptions,
.openinghours,
.contact {
  font-size: var(--font-size-xl);
  padding: var(--padding-xs) 0;
}

.opening-hours-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: var(--padding-s);
}

.opening-hours-day {
  min-width: 75px;
  flex-shrink: 0;
}

.opening-hours-time {
  flex-grow: 1;
}

.websitebutton {
  display: flex;
  justify-content: center;
  padding: var(--padding-m) 0;
}

.map-container {
  height: 332px;
  overflow: hidden;
  animation: expandHeight 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

@keyframes expandHeight {
  from {
    height: 0;
  }
  to {
    height: 332px;
  }
}

.map {
  height: 300px;
  width: 100%;
}

.map-buttons {
  display: flex;
  justify-content: end;
  gap: var(--padding-s);
  padding-top: var(--padding-s);
}

.map-container-masonry-fix {
  height: 332px;
  overflow: hidden;
  animation: shrinkHeight 0.3s ease-in-out forwards;
  visibility: hidden;
}

@keyframes shrinkHeight {
  from {
    height: 332px;
  }
  to {
    height: 0;
    display: none;
  }
}
