.restaurantcard-masonry {
  background: transparent;
}

.restaurantcard {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    145deg,
    var(--color-main-gradient),
    var(--color-main)
  );
  color: var(--color-text);
  padding: var(--padding-sm);
  border-radius: var(--border-radius-card);
  box-shadow:
    15px 15px 30px var(--color-card-shadow-bottom),
    -15px -15px 30px var(--color-card-shadow-top);
  transition: transform 0.2s ease-in-out;
  width: 360px;
  cursor: pointer;
}

.restaurantcard-content {
  padding: 0 var(--padding-m);
}

.title-container {
  display: flex;
  padding: var(--padding-s) 0;
  align-items: center;
}

.title {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  flex: 4;
}

.distance-badge {
  flex: 1;
  text-align: right;
}

.title-break-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-divider);
  margin-bottom: var(--padding-l);
}

.restaurantcard-info-container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  padding-bottom: var(--padding-l);
}

.label {
  font-size: var(--font-size-m);
}

.address,
.cuisine,
.dietaryoptions,
.openinghours,
.contact {
  font-size: var(--font-size-xl);
}

.opening-hours-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: var(--padding-s);
}

.opening-hours-day {
  min-width: 75px;
  flex-shrink: 0;
}

.opening-hours-time {
  flex-grow: 1;
}

.websitebutton {
  display: flex;
  justify-content: center;
  padding-bottom: var(--padding-m);
}

.map-container {
  height: 332px;
  overflow: hidden;
  animation: expandHeight 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

@keyframes expandHeight {
  from {
    height: 0;
  }
  to {
    height: 332px;
  }
}

.map {
  height: 300px;
  width: 100%;
}

.map-buttons {
  display: flex;
  justify-content: center;
  gap: var(--padding-s);
  padding-top: var(--padding-s);
}

.map-container-masonry-fix {
  height: 332px;
  overflow: hidden;
  animation: shrinkHeight 0.3s ease-in-out forwards;
  visibility: hidden;
}

@keyframes shrinkHeight {
  from {
    height: 332px;
  }
  to {
    height: 0;
    display: none;
  }
}
