.errorcard {
  display: flex;
  flex-direction: column;
  width: min(var(--card-width), 90%);
  background: var(--color-surface);
  color: var(--color-text);
  padding: var(--padding-xl);
  border-radius: var(--border-radius-large);
  border: 2px solid var(--color-error);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  gap: var(--padding-xl);
}

.errorcard__title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  padding-bottom: var(--padding-sm);
  border-bottom: 2px solid var(--color-text);
}

.errorcard__message {
  text-align: center;
  font-size: var(--font-size-l);
  padding: 0 var(--padding-xxl);
}
