#root {
  width: 100%;
  margin: 0 auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: var(--padding-xl) var(--padding-xxxl) 0 var(--padding-xxxl);
}

.loading-and-error-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--topbar-height));
}
