/* =======================
   🌍 Global Styles
   ======================= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* 🎨 Root Variables */
:root {
  /* Colors */
  --color-background-gradient-1: #131313;
  --color-background-gradient-2: #181818;
  --color-topbar: #1e1e1e;
  --color-surface: #2e2e2e;
  --color-surface-skeleton: #2e2e2eb6;
  --color-muted: #333;
  --color-error: #ff00004d;
  --color-surface-secondary: #e0e0e0;
  --color-surface-secondary-skeleton: #e0e0e059;
  --color-muted-secondary: #b0b0b0;
  --color-text: #e0e0e0;
  --color-text-muted: #b0b0b0;
  --color-text-secondary: #1e1e1e;
  --color-text-muted-secondary: #333;
  --color-border: #333;
  --color-hover: #292929;
  --color-hover-secondary: #d0d0d0;

  /* Padding */
  --padding-xxs: 2px;
  --padding-xs: 4px;
  --padding-s: 6px;
  --padding-sm: 8px;
  --padding-m: 12px;
  --padding-l: 16px;
  --padding-xl: 20px;
  --padding-xxl: 24px;
  --padding-xxxl: 96px;

  /* Font Sizes */
  --font-size-s: 10px;
  --font-size-sm: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 32px;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Border Radius */
  --border-radius-regular: 4px;
  --border-radius-large: 8px;

  /* TopBar */
  --topbar-height: 56px;
  --topbar-border-bottom: 2px solid var(--color-surface);
}

@font-face {
  font-family: "OpenSans";
  src: url("/Fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/Fonts/OpenSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/Fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/Fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
