/* =======================
   🌍 Global Styles
   ======================= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* 🎨 Root Variables */
:root {
  /* Colors */
  --color-background: #404040;
  --color-surface: #1e1e1e;
  --color-muted: #333;
  --color-surface-secondary: #e0e0e0;
  --color-muted-secondary: #b0b0b0;
  --color-text: #e0e0e0;
  --color-text-muted: #b0b0b0;
  --color-text-secondary: #1e1e1e;
  --color-text-muted-secondary: #333;
  --color-border: #333;
  --color-hover: #292929;
  --color-hover-secondary: #d0d0d0;

  /* Padding */
  --padding-xs: 4px;
  --padding-s: 6px;
  --padding-sm: 8px;
  --padding-m: 12px;
  --padding-l: 16px;
  --padding-xl: 20px;
  --padding-xxl: 24px;

  /* Font Sizes */
  --font-size-s: 10px;
  --font-size-sm: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 32px;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Border Radius */
  --border-radius-regular: 4px;
  --border-radius-large: 8px;

  /* TopBar */
  --topbar-height: 56px;
}
