@import "./global.css";

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 100vw;
  min-width: 320px;
  min-height: 100dvh;
  font-family: "OpenSans", sans-serif;
  background: var(--color-main);
  background-attachment: fixed;
  background-size: cover;
}
