.restaurantlist-skeleton {
  display: block;
  margin: auto;
  max-height: calc(100dvh - var(--topbar-height) - var(--padding-xl));
  overflow: hidden;
}

.restaurantlist-skeleton .restaurantcard-skeleton {
  margin-bottom: 24px;
}
